
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Index.css" />


<div class="m-3 text-white-50">
    <h1>Seleccione una ciudad</h1>
</div>

<section>

    <a asp-area="" asp-controller="Home" asp-action="Ciudad" asp-route-ciudad="Cuenca">
        <div class="nombre">
            <h1 class="name1">Cuenca</h1>
            <h1 class="name2">Cuenca</h1>
        </div>
        <img src="~/Recursos/Cuenca.jpg" alt="Cuenca">
    </a>
    <a asp-area="" asp-controller="Home" asp-action="Ciudad" asp-route-ciudad="Quito">
        <div class="nombre">
            <h1 class="name1">Quito</h1>
            <h1 class="name2">Quito</h1>
        </div>
        <img src="~/Recursos/Quito.jpg" alt="Quito">
    </a>
    <a asp-area="" asp-controller="Home" asp-action="Ciudad" asp-route-ciudad="Guayaquil">
        <div class="nombre">
            <h1 class="name1">Guayaquil</h1>
            <h1 class="name2">Guayaquil</h1>
        </div>
        <img src="~/Recursos/Guayaquil.jpg" alt="Guayaquil">
    </a>
    <a asp-area="" asp-controller="Home" asp-action="Ciudad" asp-route-ciudad="Riobamba">
        <div class="nombre">
            <h1 class="name1">Riobamba</h1>
            <h1 class="name2">Riobamba</h1>
        </div>
        <img src="~/Recursos/Vista_del_Volcán_Chimborazo_desde_Riobamba.jpg" alt="Riobamba">
    </a>
</section>