<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Programación Distribuida</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span><i class="bi bi-list"></i></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex  ">
                    <ul class="navbar-nav  d-flex justify-content-evenly flex-grow-1 ">
                        <li class="nav-item m-2 ">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item m-2">

                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Ciudad" asp-route-ciudad="Cuenca">Cuenca</a>
                        </li>
                        <li class="nav-item m-2">

                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Ciudad" asp-route-ciudad="Quito">Quito</a>
                        </li>
                        <li class="nav-item m-2">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Ciudad" asp-route-ciudad="Guayaquil">Guayaquil</a>
                        </li>
                        <li class="nav-item m-2">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Ciudad" asp-route-ciudad="Riobamba">Riobamba</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/Nuevo.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
